{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}


<div class="row"> <!-- cette clase créer uen ligne de 12 colonnes -->
    <div class="col-4">
	colonne 1
	</div>
	<div class="col-4">
	colonne 2
	</div>
	<div class="col-4">
	colonne 3
	</div>
</div>
{% endblock %}
