<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	  <div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
		  <ul class="navbar-nav me-auto">
			<li class="nav-item">
			  <a class="nav-link active" href="#">Home
				<span class="visually-hidden">(current)</span>
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/portfolio">portfolio</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/page2">page 2</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">About</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	<div class="container">
	<!-- cette class container permet de créer des marges -->
		 {% block body %}{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js">
    </body>
</html>
